<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>

<div th:fragment="content">
  <h2>게시물 선택</h2>
  <div class="list-group">
    <div th:each="post : ${posts}">
      <a th:href="@{/post/{postId}(postId=${post.id})}" class="list-group-item list-group-item-action" th:text="${post.title}"></a>
    </div>
  </div>

  <div class="d-flex justify-content-end mb-3" style="margin-top: 350px;">
    <button class="btn btn-secondary btn-lg" onclick="location.href='addBoardForm.html'" th:onclick="|location.href='@{/board/post}'|" type="button">게시물 작성</button>
  </div>
</div>
</body>
</html>